<section class="p-0">
  <div class="call-to-action bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="wow bounceInDown rotate animated" style="padding-top: 30px;visibility: visible;
    animation-name: bounceInDown;">My Profile</h2>
          <hr class="primary">
          <div class="row">
            <div class="col-lg-9">
              <div class="row">
                <div class="col-lg-8">
                  <div style="height: 50px;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <span style="position: absolute;margin-top: 120px;">
          <figure>
            <a href="#"><img id="site-title" src="./assets/img/2.jpg" alt="" style="width: 200px;height: 230px;"/></a>
            <figcaption>
              <div class="heading">
                <h3 style="padding-top: 20px; color: black"><b>Villi Villa</b></h3></div>
            </figcaption>
          </figure>
       </span>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-2"></div>
      <div class="col-lg-10" style="margin-left: 20%;
    margin-top: 10%;">
        <div class="row" style="padding-left: 2%;">
          <div class="papers text-center">
            <div class="row">
              <div class="col-md-10">
              <div class="heading">
                <h3 >My Details</h3><br/><br/>
              </div>
              </div>
              <div class="col-md-2" style="padding-left: 7%;">
                  <div style="height: 2px;">
                    <div class="col-md-4 wow fadeInRight" data-wow-offset="0" data-wow-delay="0.9s">
                      <div class="text-center">
                        <div class="hi-icon-wrap hi-icon-effect">
                          <div class="dropdown">
                          <i class="fa fa-gear" ></i>
                          <div class="dropdown-content" style="margin-left: -120px">
                            <a routerLink="/editprofile">Edit profile</a>
                            <a routerLink="/payment">Manage payments</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            </div>
            <div class="row">
              <div class="col-lg-3" ><h5 style="color: darkorange">About Me: </h5></div>
              <div class="col-lg-9" style="text-align: left">
              Have you ever felt worried that your party will not raise up to your guest expectations? In design, vertical rhythm is the structure that guides a reader's eye through the content. Good vertical rhythm makes a layout more balanced and beautiful and its
              content more readable. The time signature in sheet music visually depicts a song's rhythm.
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3" ><h5 style="color: darkorange">Email: </h5></div>
              <div class="col-lg-9" style="text-align: left">
               shamalbhole@gmail.com
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3" ><h5 style="color: darkorange">Date of Birth: </h5></div>
              <div class="col-lg-9" style="text-align: left">
                21/09/1989
              </div>
            </div>
          </div>
        </div>





      </div>
      <!--<div class="col-lg-3">-->
        <!--<div class="row">-->
          <!--<div class="papers text-center">-->
            <!--<div class="row">-->
              <!--<div class="heading">-->
                <!--<h3>My Details</h3>-->
              <!--</div>-->
            <!--</div>-->
            <!--<br/><br/><br/>-->
            <!--<div class="row">-->
                <!--<br/>-->
                <!--<h5 style="color: darkorange">Email: </h5>-->
                  <!--&nbsp;&nbsp;&nbsp;-->
                <!--<h6>shamalbhole@gmail.com</h6>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<br/>-->
              <!--<h5 style="color: darkorange">Date of Birth: </h5>-->
              <!--&nbsp;&nbsp;&nbsp;-->
              <!--<h6>21/09/1989</h6>-->
            <!--</div>-->
          <!--</div>-->
      <!--</div>-->
      <!--<div class="row">-->
        <!--<div class="papers text-center">-->
          <!--<div class="row">-->
            <!--<div class="heading">-->
              <!--<h3 class="">About Me</h3>-->
            <!--</div>-->
          <!--</div>-->
          <!--<p>-->
            <!--Have you ever felt worried that your party will not raise up to your guest expectations? In design, vertical rhythm is the structure that guides a reader's eye through the content. Good vertical rhythm makes a layout more balanced and beautiful and its-->
            <!--content more readable. The time signature in sheet music visually depicts a song's rhythm.-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</section>
