
<section id ="team" >
  <div class="container">
    <div class="row1">
      <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 title">
        <h2>Our Team</h2>
        <hr>
        <p class="para">
          
        Hey there ! We are a team of Developers coming together as a part of Web Design Final Project - Hobby Locale. Hope You LIke It..!! Go Ahead and Explore
        
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-6 wow fadeInDown animated" data-wow-delay="0.9s" style="margin-left: 5em">
        <img src="/assets/img/ruchi.png" class="img-responsive" alt="team img">
        <div class="category-card__image cta-team"></div>
        <div class="team-des">
          <h4>Ruchi Goyal</h4>
          <br>
          <h3>Developer</h3>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 wow fadeInDown animated" data-wow-delay="1.3s" style="margin-left: 5em">
        <img src="/assets/img/member2.PNG" class="img-responsive" alt="team img">
        <div class="team-des">
          <h4>Shamal Bhole</h4><br>
          <h3>Developer</h3>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 wow fadeInDown animated" data-wow-delay="1.6s" style="margin-left: 5em">
        <img src="/assets/img/member3.jpg" class="img-responsive" alt="team img">
        <div class="team-des">
          <h4>Gaurang Deshpande</h4>
          <br>
          <h3>Backend Developer</h3>
        </div>
      </div>
    </div>
    <div class = "row">
      <div class="col-md-3 col-sm-3 col-xs-6 wow fadeInDown animated" data-wow-delay="1.9s" style="margin-left: 5em">
        <img src="/assets/img/member4.jpg" class="img-responsive" alt="team img">
        <div class="team-des">
          <h4>Amitha Murali</h4>
          <br>
          <h3>Developer</h3>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 wow fadeInDown animated" data-wow-delay="2.3s" style="margin-left: 5em">
        <img src="/assets/img/member5.jpeg" class="img-responsive" alt="team img">
        <div class="team-des">
          <h4>Mitali Ichalkaranje</h4>
          <br>
          <h3>Developer</h3>
        </div>
      </div>
    </div>
  </div>
</section>
