<section id="about" class="bg-primary"><!--class="call-to-action bg-dark"-->
  <div class="container">
    <div class="col-lg-8 mx-auto text-center">
      <h2 class="section-heading text-white">About Us</h2>
      <hr class="light">
      <p>
        Hobby Locale brings people together in thousands of cities to do more of
        what they want to do in life. It is organized around one simple idea: when
        we get together and do the things that matter to us, we’re at our best.
        And that’s what Hobby Locale does. It brings people together to do, explore,
        teach and learn the things that help them come alive.
      </p>
      <p>
        Because at Hobby Locale, people welcome each other. They talk, help, mentor,
        and support each other – all in pursuit of moving their lives forward.So come join us today!!!
      </p>
    </div>
  </div>
</section>
