<section id="work" style="margin-top: 20px;     padding: 80px 0;">
  <div class="container" style="height: 318px; max-width: 1500px;">
    <div class="row">
      <div class="col-md-4 col-sm-4 title"style="background-color: ivory">
        <h2 align="center">Hobbies</h2>
        <hr>
        <p align="center">Manage your hobbies here!!!</p>
      </div>

      <div class="col-md-8 col-sm-8">
        <div class="col-md-12 col-sm-12 bg-black wow fadeIn" style="min-height: 339px;
    max-height: 250px;">
          <div class="row" style="height: -webkit-fill-available;">
            <div class="col-md-6 col-sm-6 col-xs-6 wow fadeIn" data-wow-delay="1.3s" style="margin: auto;">
              <div class="team-des" style="text-align: center;">
                <h3>Your Hobbies</h3>
                <ul class="ulconfig">
                  <li class="liconfig">item1</li>
                  <li class="liconfig">item1</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 bg-red wow fadeIn" style="min-height: 339px;
    max-height: 250px;">
          <div class="row" style="height: -webkit-fill-available;">
            <div class="col-lg-6 mx-auto text-center" style="margin-top: 40px;">
                <h2 class="section-heading text-white">Add new hobby</h2>
                <hr class="light">
                <span>
                  <!--<label for="location">Search Hobbies</label>-->
                <input type="text" class="form-control" id="location" placeholder="Search Hobby here" style="display: inline; width: 55%">
                <button type="submit" tabindex="5" class="btn btn-primary" style="align-self: center; background-color: #222; margin-left: 20px;">Search</button></span>
            </div>
            <!--<div class="col-lg-6 mx-auto text-center"></div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
