<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="navbar-brand js-scroll-trigger" href="#page-top">Home</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand js-scroll-trigger" href="#login">Login/Register</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand js-scroll-trigger" href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand js-scroll-trigger" href="#contact">Contact</a>
        </li>
        <li class="nav-item" *ngIf="token">
          <div class="dropdown show">
            <a href="#" class="btn btn-secondary dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <!-- <img class="profilePhoto" [src]="'data:image/jpg;base64,'+user.profileIcon"/> -->
              {{user.fullname}}
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" href="#" (click)="token=null">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
