.panel-body{
	padding-top: 10px;
	padding-bottom: 10px;
}

.profilePhoto{
	margin: 10px auto;
}

.profilePhoto.profilePhoto{
	width: 100px;
	height: 100px;
	vertical-align: inherit;
}

.userDetails{
	margin: 10px auto;
	padding: 10px;
}

.btn-primary:disabled{
	background-color: gray;
	border-color: gray;
}

.error{
  color:red;
  padding:5px 15px;

}
