#team {
  background: #202020 url(/assets/img/team-bg.jpg) 50% 0 repeat-y fixed;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}
#team .team-des {
  background-color: #eb5424;
  color: #ffffff;
  padding: 20px 12px;
  position: relative;
}

.liconfig{
  padding: 40px 0 10px 0;
}

.ulconfig{
  list-style: none;
}
