body {
  margin: 0;
  padding: 0;
/*  Background fallback in case of IE8 & down, or in case video doens't load, such as with slower connections  */
  background: #333;
  background-attachment: fixed;
  background-size: cover;
}

.video-container{
  width: 100%;
  min-height: 650px;
  /*max-height: 760px;*/
  overflow: hidden;
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

/* The only rule that matters */
#video-background {
/*  making the video fullscreen  */
  position: relative;
  min-width: 100%;
  max-height: 1160px;
  z-index: 1;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: auto;
  height: auto;
  width: auto;
  margin-left: 0px;
  top:-60px;
}

header.masthead{
  background-color: black;
}

header.masthead.header-content{
  z-index: 1;
}

.btn {
  top: -250px;
  position: relative;
  z-index: 2;
}
