<header class="masthead">
  <div class="header-content">
  <video autoplay loop id="video-background" muted plays-inline>
  <source src="assets/img/HobbieLocale.mp4" type="video/mp4">
</video>
    <div class="header-content-inner">
      <h1 id="homeHeading">Hobby Locale</h1>
      <hr>
      <h3> A place to socialize for hobbies </h3>
      <div class="container">
	  
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="service-box">
              <a class="js-scroll-trigger" href="#hobbies"><img src="assets/img/Hobbies.png" class="btn btn-default btn-xl"
                                                                width="200" height="150"></a>
              <h3>Hobbies</h3>
              <p>Explore your Hobbies</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="service-box">
              <a class="js-scroll-trigger" href="#events"><img src="assets/img/events.png" class="btn btn-default btn-xl"
                                                               width="200" height="150"></a>
              <h3>Events</h3>
              <p>Explore events nearby</p>
            </div>
          </div>
        </div>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#login">Get Started</a>
      </div>
    </div>
  </div>
</header>
