<section class="bg-primary" id="events">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="section-heading text-white">Events</h1>
        <hr class="light">
        <label for="hobbies">Search Events Based On Your Interest</label>
        <input type="text" class="form-control" id="hobbies" placeholder="Enter hobby">
        <hr>
      </div>
    </div>
  </div>



  <div class="js-event-list-container l-mar-stack l-mar-top-2" data-automation="event-list-container">

<div class="list-card-v2 l-mar-top-2 js-d-poster">

      <a routerLink="/event-reg" class="
            list-card__main
            js-event-link

            js-xd-janus-checkpoint-link

        ">
        <div class="list-card__header">
          <div class="list-card__image">
            <img class="js-poster-image" src="../../assets/img/paint.jpg" alt="Painting Workshop">
          </div>
          <span class="list-card__label">Free</span>
        </div>
        <div class="list-card__body">
          <time class="list-card__date">



           Dec 2017,2017<br>
            5:00 PM - 7:00PM





          </time>
          <div class="list-card__title">
            Painting Workshop
          </div>
          <div class="list-card__venue">

            595 Commonwealth Avenue , Cambridge
          </div>
        </div>
      </a>
      <div class="list-card__footer">


        <div class="list-card__tags">


          <a href="/d/ma--cambridge/music--events/">#Painting</a>




          <a href="/d/ma--cambridge/performances/">#Art</a>




        </div>
        <div class="list-card__actions">
          <a href="#" class="js-share-event-card share-action" data-eid="37954920188" title="Share" aria-haspopup="true">
            <i class="ico-share ico--medium"></i>
            <span class="is-hidden-accessible">Share this event</span>
          </a>
          <a href="#" class="js-d-bookmark" data-eid="37954920188" data-bookmarked="" title="Save" data-source-page="search" aria-label="Save Event" dorsal-guid="76d56c96-0427-6c4c-6ed9-8738cf8659b8" data-xd-wired="bookmark">
            <i class="ico-bookmark ico--medium"></i>
          </a>
        </div>
      </div>
    </div>













  </div>

</section>
