<section class="bg-primary" id="events">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="section-heading text-white">Events</h1>
        <hr class="light">
        <label for="hobby">Search Events Based On Your Interest</label>
        <div class="form-control">
        <input type="text"  id="hobby" name="hobby" placeholder="Enter hobby" #model="ngModel" [(ngModel)]="hobby" [pattern]="'^[a-zA-Z \-\']*$'">
        <button class="btn-search" (click)="searchEvents(); showHide = !showHide">Search</button>
          <div *ngIf="model.invalid" style="color: red">Enter proper hobby</div>
        </div>
        <hr>
      </div>
    </div>
  </div>

<div class="clear">
  <button class="btn-clear" *ngIf="showHide" (click)="getEvents()">Clear All
  </button></div>

  <div *ngFor="let event of events" class="js-event-list-container l-mar-stack l-mar-top-2" data-automation="event-list-container">

       <div class="list-card-v2 l-mar-top-2 js-d-poster">

      <a  class="list-card__main js-event-link js-xd-janus-checkpoint-link">
        <div class="list-card__header">
          <div class="list-card__image">
            <img class="js-poster-image" src="../../assets/img/paint.jpg" alt="Painting Workshop">
          </div>
          <span *ngIf="event.entryFee!== 0 " class="list-card__label">${{event.entryFee}}</span>
          <span *ngIf="event.entryFee == 0 " class="list-card__label">Free</span>
        </div>
        <div class="list-card__body">
          <time class="list-card__date">



            {{event.date}}<br>
            {{event.duration}}






          </time>
          <div class="list-card__title">
            {{event.name}}
            <button class="btn-details" [routerLink]="['/event-reg']" (click)="getDetails(myevent=event)">Details</button>
          </div>
          <div class="list-card__venue">
            {{event.venue}}
          </div>
        </div>
      </a>
      <div class="list-card__footer">


        <div class="list-card__tags">


         <a *ngFor="let hobby of event.hobbies " class ="hTags" href="/d/ma--cambridge/music--events/">#{{hobby.name}}&nbsp;&nbsp;<span>

         </span>

         </a><br>


        </div>
        <div class="list-card__actions">
          <a href="#" class="js-share-event-card share-action" data-eid="37954920188" title="Share" aria-haspopup="true">
            <i class="ico-share ico--medium"></i>
            <span class="is-hidden-accessible">Share this event</span>
          </a>
          <a href="#" class="js-d-bookmark" data-eid="37954920188" data-bookmarked="" title="Save" data-source-page="search" aria-label="Save Event" dorsal-guid="76d56c96-0427-6c4c-6ed9-8738cf8659b8" data-xd-wired="bookmark">
            <i class="ico-bookmark ico--medium"></i>
          </a>
        </div>
      </div>
    </div>








  </div>





</section>
