.addImage{
	visibility:hidden;
	color:gray;
}
#eventName{
	background-color: transparent;
    border: 0px solid;
    height: auto;
    width: auto;
    color: #CCC;
}

#events:hover .addImage{
	visibility:visible;
	opacity: 0.8;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}



