<div class="bg-dark container" >
  <section class="bg-primary" id="events">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="addImage" onClick="getElementById('click').click()">Add Banner</h1>
        <input type="file" class="fileButton" accept="image/*" id="click">
      </div>
    </div>
  </section>
</div>
<div class="bg-dark container" >
  <section id="eventDetails" class="row">
    <form>
      <div class="col-lg-6">
        <div class="col-lg-8 mx-auto text-center"> <h2>Event Details</h2></div><hr>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="eventName">Event Name</label>
            <input type="text" class="form-control" id="eventName" placeholder="Event Name">
          </div>

        </div>
        <div class="form-group">
          <label for="venue">Venue</label>
          <input type="text" class="form-control" id="venue" placeholder="1234 Main St">
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date">
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="eventStartTime">Time From:</label>
            <input type="time" class="form-control" id="eventStartTime">
          </div>
          <div class="form-group col-md-6">
            <label for="eventEndTime">To:</label>
            <input type="time" class="form-control" id="eventEndTime">
          </div>
        </div>
        <button type="submit" class="btn btn-primary" onclick="createEventMethod()">Create Event</button>
      </div>
      <div class="col-lg-6">
        <div class="col-lg-8 mx-auto text-center"> <h2>Tag Hobbies</h2><hr>
          <fieldset class="checkboxgroup" id="hobbyTags" name="hobbyTags">
            <input type="checkbox"> Dancing
            <input type="checkbox"> Arts
            <input type="checkbox"> Painting
            <input type="checkbox"> Gardening
            <input type="checkbox"> Trekking
          </fieldset>
        </div>
      </div>
    </form>
  </section>
</div>
