
<div class="call-to-action bg-dark">
</div>


<div class="synopsis-banner" data-trailer-code="u_qFIqYIqwE">

  <div class="img-container">
    <img id = "cover-image"
      src="../../assets/img/paint.jpg" >

  </div>

  <div class="__overlay"></div>

</div>


<div class="movie-synopsis-content-wrapper ">
<div class="synopsis-wrapper">

  <div class="poster-container-wrapper">
    <div class="poster-container">
      <div class="poster wow" style="visibility: visible;">
        <meta itemprop="image">
        <img id="poster" title="Hosted by Ruchi Goyal"  src="../../assets/img/host.jpg">
      </div>

      <div class="tags">
        <span class="__tag">Hosted By:<br> Ruchi Goyal</span>
      </div>
    </div>
    <br>
    <div class="button __left">

      <div class="tab-content">
        <div class="more-register">
          <span class="register btn _cuatro">Register</span>
        </div>




      </div>

    </div>
  </div>
  <div class="details">
    <div class="general-info">

      <div class="name-rating">

        <h1 itemprop="name" class="__name" id="eventTitle" title="Painting Workshop">Painting Workshop</h1>

      </div>
      <div class="event-details">
       <span class="__loc-icon">
         <i class="fa fa-map-marker" aria-hidden="true"></i>
       </span>
        <a href="event-location" name="event-location" class="__location" content="location">595 Commonwealth Avenue <br>Boston, MA 02215</a>

        <div class= "entry-ticket">
          <div class="calander-date">
            <i class="fa fa-ticket" aria-hidden="true"></i>
            <span class="__event-date" name="entry-fees">FREE</span>
          </div>
        </div>
        <div class="date-time">
          <div class="calander-date">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="__event-date" name="event-date">16 Dec 2017</span>
          </div>
          <div class="clock-time">
            <i class="fa fa-clock-o" aria-hidden="true"></i>

            <span class="__time" content="event-time" name="event-time">5PM - 7:30PM</span>
          </div>
          </div>
        </div>
      </div>

      <div class="review-ratings ">
        <div class="heart-rating">
          <i class="fa fa-heart" aria-hidden="true" style="color:#F05F40;"></i>
          <span class="__percentage">86%</span>
          <div class="__votes" itemtype="http://schema.org/AggregateRating" itemscope="" itemprop="aggregateRating">
            34 votes
            <meta itemprop="ratingValue" content="66">
            <meta itemprop="bestRating" content="100">
            <meta itemprop="worstRating" content="1">
            <meta itemprop="ratingCount" content="33">
            <meta itemprop="reviewCount" content="1">
          </div>
        </div>
        <div class="critic-rating">
    <span class="__rating">
     <span class="fa fa-star checked" style="font-size:25px;"></span>
     <span class="fa fa-star checked" style="font-size:25px;"></span>
     <span class="fa fa-star checked" style="font-size:25px;"></span>
     <span class="fa fa-star checked" style="font-size:25px;"></span>
     <span class="fa fa-star" style="font-size:25px;"></span>
   </span>
          <span class="__label">RATING</span>
        </div>
        <div class="rating-section card-ratings your-rating">
          <div class="rating-star-wrapper">
            <div class="rating">
              <label>
                <input type="radio" name="rating" value="5" title="5 stars"> 5
              </label>
              <label>
                <input type="radio" name="rating" value="4" title="4 stars"> 4
              </label>
              <label>
                <input type="radio" name="rating" value="3" title="3 stars"> 3
              </label>
              <label>
                <input type="radio" name="rating" value="2" title="2 stars"> 2
              </label>
              <label>
                <input type="radio" name="rating" value="1" title="1 star"> 1
              </label>
              <script type="text/javascript">
                $('.rating input').change(function () {
                  var $radio = $(this);
                  $('.rating .selected').removeClass('selected');
                  $radio.closest('label').addClass('selected');
                });
              </script>
            </div>


          </div>
          <div class="rating-head" data-id="rnr-status-text">RATE IT</div>
        </div>
      </div>
      <div class="summary-reviews">
        <div class="tabs">
          <span class="__tab _active" data-tab="summary" id="summary">Discription</span>

        </div>
        <div id="mv-summary" class="tab-content">
          <div class="__heading">DESCRIPTION</div>
          <div class="synopsis">
            <blockquote cite="#event-discription" name="discription" class="_hoverrDone">
              Every year we set new goals and want to accomplish them next year, and every year, in most cases, we fail. How do we set our new year resolutions and execute them without failure?<br>

              In this Social Cup Workshop, you will learn: <br>

              1. How to paint dream home in acrylic<br>

              2. How to set manageable goals and stick to them as we carry out daily tasks in the new year<br>

              3. How to track our progress and adjust our goals<br>



              This event is proudly brought to you by<br>

              The Social Cups ( In Art & Play We Trust)<br>

              The Social Cups organizes weekly art and creative events to help people build self-confidence, appreciation, and to facilitate deeper and meaningful inter-personal connections through art and common interests.  </blockquote>
          </div>
        </div>
      </div>


    Reviews & Comments
    <div data-attr="done" hov-ad-rendered="true" hov-ad-unbind="true" class="_abmMainAdContainer" style="height: auto; width: 100%; text-align: center; padding: 0px; margin: auto; position: relative; overflow: hidden; background: transparent;">
      <div class="_abmAdContainer" style="position:relative;margin:5px auto;padding:0;left: -33.5px;width:728px;height:90px;-moz-transform:scale(0.907967032967033);-o-transform: scale(0.907967032967033);-webkit-transform:scale(0.907967032967033);transform:scale(0.907967032967033);overflow:hidden;">
      </div>

      <div class="cast" id="cast">
        <div class="__heading">Members</div>
        <div class="cast-members showcase" id="cast-carousel">
          <div class="showcase-carousel slick-initialized slick-slider">
            <div aria-live="polite" class="slick-list draggable">
              <div class="slick-track" style="opacity: 1; width: 612px;">

            <span class="slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" style="width: 151px;">
             <span class="member-details" name="member-details">
            <img class="member-reg" title="Member1" src="../../assets/img/host.jpg">
            <span class="member-name">Member1</span>
            <br>
            <br>
            <br>

            </span>
            </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>

</div>

</div>

